<mat-card class="cardWithShadow" [ngStyle]="{ 'display': 'flex', 'flexDirection': 'column', 'height': '85vh' }">
  <mat-card-content [ngStyle]="{ 'display': 'flex', 'flexDirection': 'column', 'flex': '1' }">

    <mat-card-title style="display: flex; justify-content: space-between; align-items: center;">
      <span>{{ isFormVisible ? 'Formulaire d\' insertion mecanicien' : 'Mecaniciens' }}</span>
      <button mat-raised-button color="primary" (click)="isFormVisible ? closeForm() : openForm()">
        <mat-icon>{{ isFormVisible ? 'arrow_back' : 'add' }}</mat-icon>
        {{ isFormVisible ? 'Retour' : 'Ajouter' }}
      </button>
    </mat-card-title>


    @if(isFormVisible) {
      <form class="m-t-30" [formGroup]="form" (submit)="submit($event)">
        <div class="form-row">
          <div class="form-column">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Nom</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="firstname" formControlName="firstname" />
              <mat-error *ngIf="isFieldValid('firstname')">{{ getErrorMessage('firstname') }}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-column">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Prénom</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="lastname" formControlName="lastname" />
              <mat-error *ngIf="isFieldValid('lastname')">{{ getErrorMessage('lastname') }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-row">
          <div class="form-column">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="email" formControlName="email" type="email" />
              <mat-error *ngIf="isFieldValid('email')">{{ getErrorMessage('email') }}</mat-error>
            </mat-form-field>
          </div>

          <div class="form-column">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Téléphone</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput name="phone" formControlName="phone" type="tel" />
              <mat-error *ngIf="isFieldValid('phone')">{{ getErrorMessage('phone') }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <button mat-flat-button color="primary" class="w-100">Ajouter</button>
      </form>


    }

    @else {
      <div class="table-wrapper" [ngStyle]="{ 'flex': '1', 'display': 'flex', 'flexDirection': 'column' }">
        <!-- Table with fixed height and scroll for data -->
        <div class="table-responsive" [ngStyle]="{ 'flex': '1', 'overflow-y': 'auto', 'max-height': '70vh' }">
          <table mat-table [dataSource]="dataSource1" class="w-100">

            <!-- Colonne Name -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">Nom</th>
              <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="d-flex align-items-center">
                  <div class="m-l-16">
                    <h6 class="f-s-14 f-w-600">{{ element.firstname }}</h6>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">Prenom</th>
              <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="d-flex align-items-center">
                  <div class="m-l-16">
                    <h6 class="f-s-14 f-w-600">{{ element.lastname }}</h6>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Colonne Price -->
            <ng-container matColumnDef="specialities">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Specialites</th>
              <td mat-cell *matCellDef="let element">
                <h6 class="f-s-16 m-b-4">
                  <span class="text-dark f-w-600">{{ element.specialities }}</span>
                </h6>
              </td>
            </ng-container>

            <!-- Colonne Actions -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon [ngStyle]="{ color: 'blue' }">edit</mat-icon>
                    <span>Modifier</span>
                  </button>
                  <button mat-menu-item (click)="deleteUser(element)">
                    <mat-icon [ngStyle]="{ color: 'red' }">delete</mat-icon>
                    <span>Supprimer</span>
                  </button>
                </mat-menu>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
          </table>
        </div>

        <!-- Pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          [ngStyle]="{ 'margin-top': 'auto' }">
        </mat-paginator>
      </div>
    }



  </mat-card-content>
</mat-card>
