<mat-card class="cardWithShadow" [ngStyle]="{ 'display': 'flex', 'flexDirection': 'column', 'height': '85vh' }">
  <mat-card-content [ngStyle]="{ 'display': 'flex', 'flexDirection': 'column', 'flex': '1' }">

    <mat-card-title style="display: flex; justify-content: space-between; align-items: center;">
      <span>{{ isFormVisible ? 'Formulaire de création service' : 'Services' }}</span>
      <button mat-raised-button color="primary" (click)="isFormVisible ? closeForm() : openForm()">
        <mat-icon>{{ isFormVisible ? 'arrow_back' : 'add' }}</mat-icon>
        {{ isFormVisible ? 'Retour' : 'Ajouter' }}
      </button>
    </mat-card-title>



    @if(isFormVisible) {
      <form class="m-t-30" [formGroup]="form" (submit)="submit($event)">
        <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Service</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput name="name" formControlName="name" />
          @if (isFieldValid("name")) {
            <mat-error>{{ getErrorMessage("name") }}</mat-error>
          }
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Prix</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput name="price" formControlName="price"  type="number"/>
          @if (isFieldValid("price")) {
            <mat-error>{{ getErrorMessage("price") }}</mat-error>
          }
      </mat-form-field>

      <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Duree</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput name="duration" formControlName="duration" type="time"/>
        @if (isFieldValid("duration")) {
          <mat-error>{{ getErrorMessage("duration") }}</mat-error>
        }
      </mat-form-field>
      <button
              mat-flat-button
              color="primary"
              class="w-100"
            >
              Ajouter
            </button>
      </form>
    }

    @else {
      <div class="table-wrapper" [ngStyle]="{ 'flex': '1', 'display': 'flex', 'flexDirection': 'column' }">
        <!-- Table with fixed height and scroll for data -->
        <div class="table-responsive" [ngStyle]="{ 'flex': '1', 'overflow-y': 'auto', 'max-height': '70vh' }">
          <table mat-table [dataSource]="dataSource1" class="w-100">

            <!-- Colonne Name -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">Service</th>
              <td mat-cell *matCellDef="let element" class="p-l-0">
                <div class="d-flex align-items-center">
                  <div class="m-l-16">
                    <h6 class="f-s-14 f-w-600">{{ element.name }}</h6>
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Colonne Price -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Prix</th>
              <td mat-cell *matCellDef="let element">
                <h6 class="f-s-16 m-b-4">
                  <span class="text-dark f-w-600">{{ element.price }} Ar</span>
                </h6>
              </td>
            </ng-container>

            <!-- Colonne Duration -->
            <ng-container matColumnDef="duration">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Durée</th>
              <td mat-cell *matCellDef="let element">
                <span class="f-w-600 p-6 p-y-4 f-s-12">
                  {{ element.duration }}
                </span>
              </td>
            </ng-container>

            <!-- Colonne Actions -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14"></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon [ngStyle]="{ color: 'blue' }">edit</mat-icon>
                    <span>Modifier</span>
                  </button>
                  <button mat-menu-item (click)="deleteService(element)">
                    <mat-icon [ngStyle]="{ color: 'red' }">delete</mat-icon>
                    <span>Supprimer</span>
                  </button>
                </mat-menu>

              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
          </table>
        </div>

        <!-- Pagination -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          [ngStyle]="{ 'margin-top': 'auto' }">
        </mat-paginator>
      </div>
    }
  </mat-card-content>
</mat-card>
