<h2 mat-dialog-title>{{ brand ? "Modifier" : "Ajouter" }} une marque</h2>
<mat-dialog-content>
  <form [formGroup]="form" (submit)="onSubmit($event)">
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        name="name"
        placeholder="Nom de la marque"
        formControlName="name"
        type="text"
        required
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit($event)"
    [disabled]="!form.valid"
  >
    Enregistrer
  </button>
</mat-dialog-actions>
