@use "src/assets/scss/_variables" as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - var(--sidenav-width, 0px));
  margin-left: var(--sidenav-width, 0px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $light;
  color: #343a40;
  border-top: 1px solid $light;
  z-index: 1000;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    .footer-left {
      font-size: 0.9rem;
    }

    .footer-right {
      font-size: 0.9rem;

      a {
        color: var(--mat-sys-primary);
        text-decoration: none;
        margin: 0 0.5rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    .footer-right {
      display: flex;
      flex-wrap: wrap; /* Permet au texte de passer à la ligne si nécessaire */
      justify-content: center; /* Centre le texte sur les petits écrans */
      text-align: center; /* Aligne le texte au centre */
      gap: 0.5rem; /* Ajoute un espace entre les éléments */

      a {
        color: var(--mat-sys-primary);
        text-decoration: none;
        white-space: nowrap; /* Empêche les mots de se couper */
        margin: 0 0.5rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
