@use "src/assets/scss/_variables" as *;

.prestation-tab {
  width: 100%;
  overflow-x: auto;
}
mat-table {
  min-width: 600px;
}

.clock {
  max-width: 320px;
  display: flex;
  align-content: center;
  background-color: var(--mat-sys-primary);
}
.date-text,
.hour-text {
  display: flex;
  justify-content: center;
  color: $white;
}
.hour-text {
  margin-top: 5px;
}

.prestations-name {
  font-weight: bold;
}

.btn-next-previous {
  display: flex;
  justify-content: end;
}
.date-picker-pers {
  display: flex;
  gap: 12px;
  flex: 1;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 10px;
}

.icon-text-container mat-icon {
  margin-left: 10px;
  font-size: 20px;
}

.icon-text-container .info {
  font-size: 13px;
  margin: 0;
  word-break: break-word;
}

fieldset {
  border: 2px solid var(--mat-sys-primary);
  border-radius: 8px;
  padding: 16px;
  background-color: #f8f9fa;
  padding-bottom: 10px;
}

legend {
  font-size: 15px;
  font-weight: bold;
  color: $white;
  padding: 5px 10px;
  background: var(--mat-sys-primary);
  border-radius: 5px;
}

.date-time-picker {
  display: flex;
  gap: 16px;
  margin-top: 5px;
  flex-wrap: wrap;
}
.date-time-picker .btn-container {
  display: flex;
  align-items: end;
  height: 100%;
}
.date-time-picker .btn-verifier {
  width: 150px;
  background: var(--mat-sys-primary);
  color: $white;
  white-space: nowrap;
}
.date-time-picker .btn-verifier span {
  font-size: 15px;
}

.select-mecano {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .select-mecano {
    width: 100%;
  }
}
