@use "src/assets/scss/_variables" as *;

@media (max-width: 600px) {
  .icon-text-container {
    flex-direction: column;
    text-align: center;
  }

  .icon-text-container mat-icon {
    margin-top: 5px;
    font-size: 20px;
  }

  .icon-text-container .info {
    font-size: 12px;
  }
  .aptDate,
  .aptTime {
    width: 90%;
  }
  .date-picker-pers {
    flex-direction: column;
    gap: 8px;
  }
}

.prestation-tab {
  width: 100%;
  overflow-x: auto;
}
mat-table {
  min-width: 600px;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  max-width: 300px;
  display: flex;
  align-content: center;
  background-color: var(--mat-sys-primary);
}
.date-text,
.hour-text {
  display: flex;
  justify-content: center;
  color: $white;
}
.hour-text {
  margin-top: 5px;
}

.prestations-name {
  font-weight: bold;
}

.btn-next-previous {
  display: flex;
  justify-content: end;
}
.date-picker-pers {
  display: flex;
  gap: 12px;
  flex: 1;
}

.icon-text-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 10px;
}

.icon-text-container mat-icon {
  font-size: 24px;
}

.icon-text-container .info {
  font-size: 14px;
  margin: 0;
  word-break: break-word;
}
