<h2 mat-dialog-title>{{ modelData ? "Modifier" : "Ajouter" }} une modele</h2>
<mat-dialog-content>
  <form [formGroup]="form" (submit)="submit($event)">
    <mat-form-field appearance="outline" class="w-100">
      <mat-select formControlName="brand" placeholder="Marque">
        @for (brand of brands; track brand._id) {
        <mat-option [value]="brand._id"> {{ brand.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <input
        matInput
        name="name"
        placeholder="Nom du modele"
        formControlName="name"
        type="text"
        required
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit($event)"
    [disabled]="!form.valid"
  >
    Enregistrer
  </button>
</mat-dialog-actions>
