@import "src/assets/scss/_variables";

.brand {
  width: 40%;
}

.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

.mat-column-name {
  height: 100px;
}

.action-header {
  display: flex;
}

.delete-btn {
  color: red;
}

.actions-button {
  display: flex;
  justify-content: center;
  gap: 10px; /* Ajustez cette valeur pour l'espacement souhaité entre les boutons */
}
