/* You can add global styles to this file, and also import other style files */
@use "src/assets/scss/style";
@use "src/assets/scss/_variables" as *;

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  .snackbar-bg {
    --mat-sys-inverse-surface: $secondary;
  }
}
