<div class="container">
    <div class="title">
        <h2>Statistiques du Garage</h2>
    </div>

    <div class="stats-container">
        <div class="stats-card">
            <h3>Nombre total de clients</h3>
            <p>{{ customerCount }}</p>
        </div>

        <div class="stats-card">
            <h3>Service le plus demandé</h3>
            @if (service) {
                <p>
                    {{ service.name }}: <span class="count">{{ service.count }}</span>
                </p>
            } @else {
                <p>Aucune donnée disponible</p>
            }
            
            
        </div>
        
    </div>
</div>
